language: node_js

node_js:
  - stable

install:
  - npm install

script:
  - npm run test -- --coverage && npm run test:cypress

after_script:
  - COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls
